@model Invite
@{
    ViewData["Title"] = "Event Page";
}

@* ViewBag.CurrentUser *@
@* ViewBag.CurrentEvent *@

<h1 class="display-4 text-center">@ViewBag.CurrentEvent.Title</h1>

<div class="container">
    <h2>@ViewBag.CurrentEvent.Location</h2>
    <h1 class="display-4 text-center">Location: @ViewBag.CurrentEvent.Location</h1>
    <div class="row">
        <div class="col-sm-12">
            <iframe width="100%" height="450" style="border:0" loading="lazy" allowfullscreen src="https://www.google.com/maps/embed/v1/place?key={YOUR_API_KEY}
                &q=@ViewBag.CurrentEvent.Location">
            </iframe>
        </div>
    </div>
</div>
<div class="container">
@if(ViewBag.CurrentUser.UserId == ViewBag.CurrentEvent.UserId){
    <h1>Invite Friends to the event:</h1>
    <table class="table table-light">
        <thead>
            <tr>
                <th scope="col">Friend</th> 
                <th scope="col">Action</th>
            </tr>
        </thead>
        <tbody>
            @foreach(var user in @ViewBag.Friends)
            {
                <tr>
                    <td>@user.FirstName @user.LastName</td>
                    <td><a href="/invite/@ViewBag.CurrentEvent.EventId/@user.UserId">Send invitation email</a> </td>
                </tr>
            }
        </tbody>
    </table>
} else if(ViewBag.CurrentEvent.Guests.Contains(ViewBag.CheckLink)){
    <a href="leave/@ViewBag.CurrentEvent.EventId">Leave</a>
} else {
    <a href="join/@ViewBag.CurrentEvent.EventId">Join</a>
}
</div>